<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Maven_Tester_SelfExercise.Tester_Code"/>
      <class name="com.SelfPractise_Selenium_Maven.Selenium_TestNG_Maven_Demo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
